<tc-card *ngIf="entity && dossierSrv.resourceName|editable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions justify-content-between">
                <button [outline]="true" type="button" (click)="location.back()" tc-button
                    beforeIcon="icofont-reply">Retour</button>
                <button (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button type="button"
                    view="accent" class="float-right">Rafraichir</button>
            </div>
        </tc-card>
        <tc-card title="Détails" [outline]="true" [view]="secondViewBorder" [tcGradient]="secondGradient">
            <div class="row">
                <div class="col-12">
                    <tc-form-group>
                        <tc-form-label>Type Patient</tc-form-label>
                        <tc-radio [direction]="'horizontal'" required="required" [(ngModel)]="entity.typePatient"
                            name="typePatient" id="typePatient" #typePatient="ngModel" [value]="entity.typePatient">
                            <tc-radio-option [value]="'PER'">PER</tc-radio-option>
                            <tc-radio-option [value]="'PATS'">PATS</tc-radio-option>
                            <tc-radio-option [value]="'FAMILLE'">FAMILLE</tc-radio-option>
                            <tc-radio-option [value]="'ETUDIANT'">ETUDIANT</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="typePatient">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Prénoms</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.prenoms" name="prenoms" id="prenoms"
                            #prenoms="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="prenoms">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Nom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.nom" name="nom" id="nom" #nom="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nom"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Date Naissance</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" required="required" [(ngModel)]="entity.dateNaissance"
                            name="dateNaissance" id="dateNaissance" #dateNaissance="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateNaissance">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Sexe</tc-form-label>
                        <tc-radio [direction]="'horizontal'" required="required" [(ngModel)]="entity.genre" name="genre" [value]="entity.genre"
                            id="genre" #genre="ngModel">
                            <tc-radio-option [value]="'Homme'">Homme</tc-radio-option>
                            <tc-radio-option [value]="'Femme'">Femme</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="genre"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Numéro Pièce Identité</tc-form-label>
                        <tc-input [(ngModel)]="entity.cni" name="cni" id="cni" #cni="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="cni"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Téléphone du patient ou d'un responsable</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.telephone" name="telephone" id="telephone"
                            #telephone="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="telephone">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" [hidden]="entity?.typePatient!='FAMILLE'">
                    <tc-form-group>
                        <tc-form-label>Lien de Parenté</tc-form-label>
                        <tc-radio required="required" [(ngModel)]="entity.lienParente" [value]="entity.lienParente" name="lienParente"
                            id="lienParente" #lienParente="ngModel" [direction]="'horizontal'">
                            <tc-radio-option [hidden]="entity?.genre!='Homme'" [value]="'époux'">Epoux</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Femme'" [value]="'épouse'">Epouse</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Homme'" [value]="'fils'">Fils</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Femme'" [value]="'fille'">Fille</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="lienParente">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label *ngIf="entity?.typePatient!='ETUDIANT'">Matricule {{entity?.typePatient=='FAMILLE'?'du travailleur':''}}</tc-form-label>
                        <tc-form-label *ngIf="entity?.typePatient=='ETUDIANT'">Numéro Carte Etudiant</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.matricule" name="matricule" id="matricule"
                            #matricule="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="matricule">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="entity?.typePatient=='FAMILLE'">
                    <tc-form-group>
                        <tc-form-label>Prenom du Travailleur</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.prenomTravailleur" name="prenomTravailleur"
                            id="prenomTravailleur" #prenomTravailleur="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="prenomTravailleur">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6" *ngIf="entity?.typePatient=='FAMILLE'">
                    <tc-form-group>
                        <tc-form-label>Nom du Travailleur</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.nomTravailleur" name="nomTravailleur"
                            id="nomTravailleur" #nomTravailleur="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nomTravailleur">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Structure</tc-form-label>
                        <tc-select [placeholder]="'Selectionner la structure de travail'" [options]="structures"
                            [filter]="true" required="required" [(ngModel)]="entity.structure" name="structure"
                            id="structure" #structure="ngModel"></tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="structure">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Etat du dossier</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.etat" name="etat" id="etat"
                            #etat="ngModel">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="etat"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </tc-card>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                    beforeIcon="icofont-close">Annuler</button>
                <button type="button" [disabled]="form.invalid" class="float-right" (click)="update()"
                    beforeIcon="icofont-save" tc-button view="warning">
                    Mettre à jour
                </button>
                <button class="float-right mr-1" (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button
                    type="button" view="success">Rafraichir</button>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(dossierSrv.resourceName|editable)"></app-access-denied>