<button (click)="openModal()" tc-button [afterIcon]="'icofont-plus'" *ngIf="rendezVousSrv.resourceName|creable"
  view="accent">RV</button>
<app-access-denied *ngIf="!(rendezVousSrv.resourceName|creable)"></app-access-denied>

<!-- Modal window -->
<nz-modal nzWidth="50%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
  [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
  <ng-template #modalBody>
    <form #form="ngForm" ngNativeValidate>
      <div class="row">
        <div class="col-12">
          <tc-form-group>
            <tc-form-label>Date rendez-vous</tc-form-label>
            <nz-date-picker required="required" [(ngModel)]="entity.dateRendezVous" name="dateRendezVous"
              id="dateRendezVous" #dateRendezVous="ngModel" [nzFormat]="'dd/MM/yyyy'">
            </nz-date-picker>
            <tc-form-description>
              <app-form-field-validation-message [formField]="dateRendezVous"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
        <div class="col-12">
          <tc-form-group>
            <tc-form-label>Description</tc-form-label>
            <tc-textarea [(ngModel)]="entity.description" name="description" id="description" #description="ngModel">
            </tc-textarea>
            <tc-form-description>
              <app-form-field-validation-message [formField]="description"></app-form-field-validation-message>
            </tc-form-description>
          </tc-form-group>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
        (click)="closeModal()">Fermer</button>
      <button [disabled]="!entity.dateRendezVous" [disabled]="form.invalid" (click)="save()"
        [afterIcon]="'icofont-save'" tc-button [view]="'accent'">
        Enregistrer
      </button>
    </div>
  </ng-template>
</nz-modal>
<!-- end Modal window -->