<tc-card *ngIf="entity && medicamentSrv.resourceName|editable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions justify-content-between">
                <button [outline]="true" type="button" (click)="location.back()" tc-button
                    beforeIcon="icofont-reply">Retour</button>
                <button (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button type="button"
                    view="accent" class="float-right">Rafraichir</button>
            </div>
        </tc-card>
        <tc-card title="Détails" [outline]="true" [view]="secondViewBorder" [tcGradient]="secondGradient">
            <div class="row">
                                                                                                <div class="col-12 col-md-6">
                            <tc-form-group>
                                <tc-form-label>Nom</tc-form-label>
                                <tc-input required="required" [(ngModel)]="entity.nom" name="nom" id="nom" #nom="ngModel">
                                </tc-input>
                                <tc-form-description>
                                    <app-form-field-validation-message [formField]="nom"></app-form-field-validation-message>
                                </tc-form-description>
                            </tc-form-group>
                        </div>
                                                                                <div class="col-12 col-md-6">
                            <tc-form-group>
                                <tc-form-label>Filename</tc-form-label>
                                <tc-input required="required" [(ngModel)]="entity.filename" name="filename" id="filename" #filename="ngModel">
                                </tc-input>
                                <tc-form-description>
                                    <app-form-field-validation-message [formField]="filename"></app-form-field-validation-message>
                                </tc-form-description>
                            </tc-form-group>
                        </div>
                                                                                <div class="col-12 col-md-6">
                            <tc-form-group>
                                <tc-form-label>Filepath</tc-form-label>
                                <tc-input required="required" [(ngModel)]="entity.filepath" name="filepath" id="filepath" #filepath="ngModel">
                                </tc-input>
                                <tc-form-description>
                                    <app-form-field-validation-message [formField]="filepath"></app-form-field-validation-message>
                                </tc-form-description>
                            </tc-form-group>
                        </div>
                                                                                <div class="col-12 col-md-6">
                            <tc-form-group>
                                <tc-form-label>QuantiteStock</tc-form-label>
                                <tc-input required="required" [(ngModel)]="entity.quantiteStock" name="quantiteStock" id="quantiteStock" #quantiteStock="ngModel">
                                </tc-input>
                                <tc-form-description>
                                    <app-form-field-validation-message [formField]="quantiteStock"></app-form-field-validation-message>
                                </tc-form-description>
                            </tc-form-group>
                        </div>
                                                </div>
        </tc-card>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                    beforeIcon="icofont-close">Annuler</button>
                <button type="button" [disabled]="form.invalid" class="float-right" (click)="update()"
                    beforeIcon="icofont-save" tc-button view="warning">
                    Mettre à jour
                </button>
                <button class="float-right mr-1" (click)="findEntity(entity.id)" afterIcon="icofont-refresh"
                    tc-button type="button" view="success">Rafraichir</button>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(medicamentSrv.resourceName|editable)"></app-access-denied>