<tc-card *ngIf="rendezVousSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <button tc-button (click)="location.back()" [outline]="true" beforeIcon="icofont-mail-reply">Retour</button>
        <button [outline]="true" (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
            beforeIcon="icofont-refresh">Rafraichir</button>
        <button (click)="remove(entity)" *ngIf="rendezVousSrv.resourceName|deletable" [outline]="true" tc-button
            view="error" beforeIcon="icofont-trash" class="ml-1">Supprimer</button>
        <button *ngIf="rendezVousSrv.resourceName|editable"
            [routerLink]="['/'+orientation,rendezVousSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
            class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit">Modifier</button>
    </tc-card>
    <div class="row">
        <div class="col-12">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                    <tr>
                        <th>Date de création</th>
                        <td>{{ entity?.dateCreation }}</td>
                    </tr>
                    <tr>
                        <th>Email utilisateur</th>
                        <td>{{ entity?.userEmail }}</td>
                    </tr>
                    <tr>
                        <th>Date rendez-vous</th>
                        <td>{{ entity?.dateRendezVous }}</td>
                    </tr>
                    <tr>
                        <th>Présence</th>
                        <td>{{ entity?.presence }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ entity?.description }}</td>
                    </tr>
                </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(rendezVousSrv.resourceName|showable)"></app-access-denied>