<tc-card *ngIf="consultationSrv.resourceName|listable" [tcGradient]="deepGradient">
    <div class="row">
        <div class="col-6">
            <h5>Choisir une année pour filtrer</h5>                       
            <nz-select [(ngModel)]="selectedAnnee" [nzSize]="large" (ngModelChange)="getData()" style="width: 100%;">
                <nz-option *ngFor="let annee of annees" [nzValue]="annee" [nzLabel]="annee"></nz-option>
            </nz-select>
        </div>
    </div>
    <br>
    <hr> 
    <nz-tabset nzTabPosition="bottom" *ngIf="data" >
        <nz-tab *ngFor="let tab of data" [nzTitle]="tab?.month">
            <tc-card [tcGradient]="statisticGradient">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th colspan="3" style="text-align: center;">Permanent</th>
                            <th rowspan="2">ETUDIANTS</th>
                            <th rowspan="2">TOTAL</th>
                        </tr>
                        <tr>
                            <th>PERS</th>
                            <th>PATS</th>
                            <th>FAMILLE</th>
                        </tr>
                        <tr *ngFor="let dayData of tab?.dayTab">

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tab?.dayTab">
                            <td scope="row">J{{item?.day}}</td>
                            <td>{{item?.per}}</td>
                            <td>{{item?.pats}}</td>
                            <td>{{item?.famille}}</td>
                            <td>{{item?.etudiant}}</td>
                            <td>{{item?.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </tc-card>
        </nz-tab>
    </nz-tabset>
</tc-card>