<tc-card *ngIf="symptomeSrv.resourceName|listable" [tcGradient]="secondGradient" title="Symptômes">
  <tc-table [itemsPerPage]="10" [rows]="consultation?.symptomes" [hovered]="true" [pagination]="true" [search]="true">
    <tc-table-col [columnTitle]="'Nom'" [columnName]="'nom'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button *ngIf="symptomeSrv.resourceName|deletable" (click)="remove(row)" tc-button
            [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
       </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <app-empty-table-message *ngIf="!consultation?.symptomes.length"></app-empty-table-message>
  <br>
  <app-symptome-new [consultation]="consultation" (creation)="onCreate($event)"></app-symptome-new>
</tc-card>
<app-access-denied *ngIf="!(symptomeSrv.resourceName|listable)"></app-access-denied>