<div class="logo-wrap" routerLink="/horizontal/cons-jour">
  <div class="row">
    <div class="col-3">
      <tc-avatar [src]="'assets/logos/UIDT.png'"></tc-avatar>
    </div>
    <div class="col-3">
      <i class="icofont-medical-sign icofont-2x" style="color: #3b873e;"></i>
    </div>
    <div class="col-6">
      <span class="nowwrap" style="font-size: 24px; font-weight: bold; color: #3b873e;">SM<sup
          style="font-weight: bold; color: white;">UIDT</sup></span>
    </div>
  </div>
  <!-- <img src="{{ src }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" class="logo-img"> -->
</div>