<div class="add-action-box" *ngIf="dossierSrv.resourceName|creable">
    <button tc-button [afterIcon]="'icofont-plus'" [view]="'accent'" [square]="true" [tcShape]="500"
        (click)="openModal()"></button>
</div>
<app-access-denied *ngIf="!(dossierSrv.resourceName|creable)"></app-access-denied>

<!-- Modal window -->
<nz-modal nzWidth="80%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
    [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
    <ng-template #modalBody>
        <form #form="ngForm" ngNativeValidate>
            <div class="row">
                <div class="col-12">
                    <tc-form-group>
                        <tc-form-label>Type Patient</tc-form-label>
                        <tc-radio [direction]="'horizontal'" required="required" [(ngModel)]="entity.typePatient"
                            name="typePatient" id="typePatient" #typePatient="ngModel">
                            <tc-radio-option [value]="'PER'">PER</tc-radio-option>
                            <tc-radio-option [value]="'PATS'">PATS</tc-radio-option>
                            <tc-radio-option [value]="'FAMILLE'">FAMILLE</tc-radio-option>
                            <tc-radio-option [value]="'ETUDIANT'">ETUDIANT</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="typePatient">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Prénoms</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.prenoms" name="prenoms" id="prenoms"
                            #prenoms="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="prenoms">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Nom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.nom" name="nom" id="nom" #nom="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nom"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Date Naissance</tc-form-label>
                        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" required="required" [(ngModel)]="entity.dateNaissance"
                            name="dateNaissance" id="dateNaissance" #dateNaissance="ngModel"></nz-date-picker>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateNaissance">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Sexe</tc-form-label>
                        <tc-radio [direction]="'horizontal'" required="required" [(ngModel)]="entity.genre" name="genre"
                            id="genre" #genre="ngModel">
                            <tc-radio-option [value]="'Homme'">Homme</tc-radio-option>
                            <tc-radio-option [value]="'Femme'">Femme</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="genre"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Numéro Pièce Identité</tc-form-label>
                        <tc-input [(ngModel)]="entity.cni" name="cni" id="cni" #cni="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="cni"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Téléphone du patient ou d'un responsable</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.telephone" name="telephone" id="telephone"
                            #telephone="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="telephone">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4" [hidden]="entity?.typePatient!='FAMILLE'">
                    <tc-form-group>
                        <tc-form-label>Lien de Parenté</tc-form-label>
                        <tc-radio required="required" [(ngModel)]="entity.lienParente" name="lienParente"
                            id="lienParente" #lienParente="ngModel" [direction]="'horizontal'">
                            <tc-radio-option [hidden]="entity?.genre!='Homme'" [value]="'époux'">Epoux</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Femme'" [value]="'épouse'">Epouse</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Homme'" [value]="'fils'">Fils</tc-radio-option>
                            <tc-radio-option [hidden]="entity?.genre!='Femme'" [value]="'fille'">Fille</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="lienParente">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label *ngIf="entity?.typePatient!='ETUDIANT'">Matricule {{entity?.typePatient=='FAMILLE'?'du travailleur':''}}</tc-form-label>
                        <tc-form-label *ngIf="entity?.typePatient=='ETUDIANT'">Numéro Carte Etudiant</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.matricule" name="matricule" id="matricule"
                            #matricule="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="matricule">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4" *ngIf="entity?.typePatient=='FAMILLE'">
                    <tc-form-group>
                        <tc-form-label>Prenoms & Nom du Travailleur</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.prenomTravailleur" name="prenomTravailleur"
                            id="prenomTravailleur" #prenomTravailleur="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="prenomTravailleur">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4" *ngIf="entity?.typePatient=='FAMILLE'">
                    <tc-form-group>
                        <tc-form-label>PER ou PATS ?</tc-form-label>
                        <tc-radio [direction]="'horizontal'" required="required" [(ngModel)]="entity.nomTravailleur"
                            name="nomTravailleur" id="nomTravailleur" #nomTravailleur="ngModel">
                            <tc-radio-option [value]="'PER'">PER</tc-radio-option>
                            <tc-radio-option [value]="'PATS'">PATS</tc-radio-option>
                        </tc-radio>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nomTravailleur">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Structure</tc-form-label>
                        <tc-select [placeholder]="'Selectionner la structure de travail'" [options]="structures"
                            [filter]="true" required="required" [(ngModel)]="entity.structure" name="structure"
                            id="structure" #structure="ngModel"></tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="structure">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Etat du dossier</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.etat" name="etat" id="etat"
                            #etat="ngModel">
                        </tc-switcher>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="etat"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Niveau Instruction</tc-form-label>
                        <tc-select [options]="niveauInstructions" [(ngModel)]="entity.niveauInstruction" name="niveauInstruction" id="niveauInstruction"
                            #niveauInstruction="ngModel">
                        </tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="niveauInstruction">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Situation Matrimoniale</tc-form-label>
                        <tc-select [options]="situationMatrimoniales" [(ngModel)]="entity.situationMatrimoniale" name="situationMatrimoniale" id="situationMatrimoniale"
                            #situationMatrimoniale="ngModel">
                        </tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="situationMatrimoniale">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4" *ngIf="entity?.situationMatrimoniale=='mariee' && entity?.genre=='Femme'">
                    <tc-form-group>
                        <tc-form-label>Profession Mari</tc-form-label>
                        <tc-select [options]="professionMaris" [(ngModel)]="entity.professionMari" name="professionMari" id="professionMari"
                            #professionMari="ngModel">
                        </tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="professionMari">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4" *ngIf="entity?.situationMatrimoniale=='mariee'">
                    <tc-form-group>
                        <tc-form-label>Date Mariage</tc-form-label>
                        <tc-input [(ngModel)]="entity.dateMariage" name="dateMariage" id="dateMariage"
                            #dateMariage="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="dateMariage">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Genre Vie</tc-form-label>
                        <tc-select [options]="genreVies" [(ngModel)]="entity.genreVie" name="genreVie" id="genreVie"
                            #genreVie="ngModel">
                        </tc-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="genreVie">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Historiques Maladie</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.historiqueMaladies" name="historiqueMaladies"
                            id="historiqueMaladies" #historiqueMaladies="ngModel">
                        </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="historiqueMaladies">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Antecedents Medicaux</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.antecedentMedicaux" name="antecedentMedicaux" id="antecedentMedicaux"
                            #antecedentMedicaux="ngModel">
                        </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="antecedentMedicaux">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Antecedents Churirgicaux</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.antecedentChurirgicaux" name="antecedentChurirgicaux" id="antecedentChurirgicaux"
                            #antecedentChurirgicaux="ngModel">
                        </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="antecedentChurirgicaux">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <tc-form-group>
                        <tc-form-label>Antecedents Familiaux</tc-form-label>
                        <tc-textarea [(ngModel)]="entity.antecedentFamiliaux" name="antecedentFamiliaux" id="antecedentFamiliaux"
                            #antecedentFamiliaux="ngModel">
                        </tc-textarea>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="antecedentFamiliaux">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
                (click)="closeModal()">Fermer</button>
            <button [disabled]="form.invalid" [disabled]="form.invalid" (click)="save()" [afterIcon]="'icofont-save'"
                tc-button [view]="'accent'">
                Enregistrer
            </button>
        </div>
    </ng-template>
</nz-modal>
<!-- end Modal window -->