<div class="row" *ngIf="consultationSrv.resourceName|showable" style="background: white;">
    <div class="col-12 my-2">
        <div class="row">
            <div class="col-12 col-md-8" [ngStyle]="{'border-right': '3px dashed '+sidebarBg}">
                <h4 [ngStyle]="{'color': sidebarBg}" class="m-0 pt-1">Consultation :
                </h4>
                <h5 [ngStyle]="{'color': sidebarBg}" class="m-0 pt-1">Dossier médical n° {{entity?.dossier?.numero}}
                </h5>
            </div>
            <div class="col-12 col-md-4 p-4" style="background-color: #EBEBEB;">
                <button size="sm" tc-button (click)="location.back()" class="mx-1" [outline]="true" beforeIcon="icofont-reply"></button>
                <button size="sm" [outline]="true" (click)="findEntity(entity.id)" class="mx-1" tc-button view="accent"
                    beforeIcon="icofont-refresh"></button>
                <button size="sm" (click)="remove(entity)" *ngIf="consultationSrv.resourceName|deletable" [outline]="true"
                    tc-button view="error" beforeIcon="icofont-trash" class="mx-1"></button>
                <button size="sm" *ngIf="consultationSrv.resourceName|editable"
                    [routerLink]="['/'+orientation,consultationSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                    class="mx-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
                <button size="sm" *ngIf="consultationSrv.resourceName|editable"
                    [routerLink]="['/'+orientation,dossierSrv.getRoutePrefixWithoutSlash(),entity?.dossier?.id]"
                    class="mx-1" tc-button view="accent" >Ouvrir le dossier</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <div *ngIf="entity" class="row">
            <div class="col-12 col-lg-5 col-md-5" [ngStyle]="{'border-right': '2px solid '+sidebarBg}">
                <ul class="info-section">
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Tension artérielle :</div>
                            <div *ngIf="entity.tensionArterielle; else elseTen" class="col-6 col-md-4 info-content">
                                {{entity?.tensionArterielle}}</div>
                            <ng-template #elseTen>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>

                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Température :</div>
                            <div *ngIf="entity.temperature; else elseTem" class="col-6 col-md-4 info-content">
                                {{entity?.temperature}}</div>
                            <ng-template #elseTem>

                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Poids :</div>
                            <div *ngIf="entity.poids; else elsePoids" class="col-6 col-md-4 info-content">
                                {{entity?.poids}}</div>
                            <ng-template #elsePoids>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Glycémie :</div>
                            <div *ngIf="entity.glycemie; else elseGlycemie" class="col-6 col-md-4 info-content">
                                {{entity?.glycemie}}</div>
                            <ng-template #elseGlycemie>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-7 col-md-7">
                <ul class="info-section">
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Médicaments préscrits :</div>
                            <div *ngIf="entity.medicamentPrescrits; else elseMedicamentPrescrits"
                                class="col-6 col-md-4 info-content">{{entity?.medicamentPrescrits}}</div>
                            <ng-template #elseMedicamentPrescrits>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Motifs de consultation :</div>
                            <div *ngIf="entity.motifConsultations; else elseMedicamentPrescrits"
                                class="col-6 col-md-4 info-content">{{entity?.motifConsultations}}</div>
                            <ng-template #elseMotifConsultations>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>


                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Examens cliniques :</div>
                            <div *ngIf="entity.examenCliniques; else elseExamenCliniques"
                                class="col-6 col-md-4 info-content">{{entity?.examenCliniques}}</div>
                            <ng-template #elseExamenCliniques>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>

                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Examens paracliniques :</div>
                            <div *ngIf="entity.examenCliniques; else elseExamenCliniques"
                                class="col-6 col-md-4 info-content">{{entity?.examenCliniques}}</div>
                            <ng-template #elseExamenCliniques>
                                <tc-badge [outline]="true" view="error">Non renseigné</tc-badge>
                            </ng-template>

                        </div>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <app-rendezvous-new *ngIf="entity" class="mr-1" [consultation]="entity"
                                    (creation)="findEntity(activatedRoute.snapshot.params.id)">
                                </app-rendezvous-new>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-contend-end">
        <tc-card class="mb-1" title="Pathologie diagnostiquée">

            <a href="javascript:void(0)" *ngIf="!entity?.pathologies?.length && (consultationSrv.resourceName|editable)"
                (click)="activated=false">Préciser le résultat du diagnostic</a>
            <nz-select *ngIf="!activated || entity?.pathologies?.length" [nzDisabled]="activated" [(ngModel)]="selectedPathologies"
                [nzSize]="'small'" nzMode="multiple" nzAllowClear nzShowSearch>
                <ng-container *ngFor="let pathologie of pathologies">
                    <nz-option [nzLabel]="pathologie?.nom" [nzValue]="pathologie?.id">
                    </nz-option>
                </ng-container>
            </nz-select>&nbsp;
            <div *ngIf="!activated" class="col-12 d-flex justify-content-end">
                <button (click)="setPathologieDiagnostiquee()" *ngIf="!activated" tc-button
                    [view]="'warning'">Modifier</button>&nbsp;
                <button tc-button [view]="'error'" (click)="activated=true" *ngIf="!activated">Annuler</button>
            </div>&nbsp;
            <div class="col-12 d-flex justify-contend-end">

                <a href="javascript:void(0)" (click)="activated=false"
                    *ngIf=" entity?.pathologies?.length && (consultationSrv.resourceName|editable) && activated">Modifier
                    le resultat du diagnostique</a>
            </div>



        </tc-card>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <nz-tabset nzSize="small" *ngIf="entity">
            <nz-tab (nzSelect)="loadTab('symptomes')" nzTitle="Symptômes">
                <app-symptome-list *ngIf="selectedTab=='symptomes'" [consultation]="entity"></app-symptome-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadTab('medicamentsremis')" nzTitle="Médicaments Remis">
                <app-medicamentremis-list *ngIf="selectedTab=='medicamentsremis'" [consultation]="entity"></app-medicamentremis-list>
            </nz-tab>
            <nz-tab (nzSelect)="loadTab('rendezvous')" nzTitle="Rendez-vous">
                <app-rendez-vous-dossier *ngIf="selectedTab=='rendezvous'" [dossier]="entity"></app-rendez-vous-dossier>
            </nz-tab>
        </nz-tabset>
    </div>
</div>
<app-access-denied *ngIf="!(consultationSrv.resourceName|showable)"></app-access-denied>