<div class="row" *ngIf="consultationSrv.resourceName|showable" style="background-color: white;">
    <div class="col-12 mb-1">
        <div class="row">
            <div class="col-12 col-md-8" [ngStyle]="{'border-right': '3px dashed '+sidebarBg}">
                <h5 [ngStyle]="{'color': sidebarBg}" class="m-0 pt-1">Dossier médical n° {{entity?.dossier?.numero}}
                </h5>
                <!-- <h4 [ngStyle]="{'color': sidebarBg}" class="m-0">{{entity?.dossier?.prenoms+' '+entity?.dossier?.nom}}
                    <span *ngIf="entity?dossier?.matricule">{{entity?.dossier?.matricule}}</span>
                </h4>
                <h6 class="m-0">{{entity?.dossier?.typePatient}} - {{entity?.dossier?.structure}}</h6> -->
            </div>
            <div class="col-12 col-md-4 p-2">
                <button tc-button (click)="location.back()" [outline]="true" beforeIcon="icofont-reply"></button>
                <button [outline]="true" (click)="findEntity(entity.id)" class="mr-1 ml-1" tc-button view="success"
                    beforeIcon="icofont-refresh"></button>
                <button (click)="remove(entity)" *ngIf="consultationSrv.resourceName|deletable" [outline]="true"
                    tc-button view="error" beforeIcon="icofont-trash" class="mr-1"></button>
                <button *ngIf="consultationSrv.resourceName|editable"
                    [routerLink]="['/'+orientation,consultationSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                    class="mr-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4" [ngStyle]="{'border-right': '2px solid '+sidebarBg}">
                <ul class="info-section">
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Tension artérielle :</div>
                            <div class="col-6 col-md-4 info-content">{{entity?.tensionArterielle}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Température :</div>
                            <div class="col-6 col-md-4 info-content">{{entity?.temperature}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Poids :</div>
                            <div class="col-6 col-md-4 info-content">{{entity?.poids}}
                            </div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-8 info-title">Glycémie :</div>
                            <div class="col-6 col-md-4 info-content">{{entity?.glycemie}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-8">
                <ul class="info-section">
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Médicaments préscrits :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.medicamentPrescrits}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Motifs de consultation :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.motifConsultations}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Examens cliniques :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.examenCliniques}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Examens paracliniques :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.examenParacliniques}}</div>
                        </div>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <app-rendezvous-new *ngIf="entity" class="mr-1" [consultation]="entity"
                                    (creation)="findEntity(activatedRoute.snapshot.params.id)">
                                </app-rendezvous-new>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-contend-end">
        <tc-card class="mb-1" title="Pathologie diagnostiquée">

            <a href="javascript:void(0)" *ngIf="!entity?.pathologies?.length && (consultationSrv.resourceName|editable)"
                (click)="activated=false">Préciser le résultat du diagnostic</a>
            <nz-select *ngIf="entity?.pathologies" [nzDisabled]="activated" [(ngModel)]="selectedPathologies"
                [nzSize]="'small'" nzMode="multiple" nzAllowClear nzShowSearch>
                <ng-container *ngFor="let pathologie of pathologies">
                    <nz-option [nzLabel]="pathologie?.nom" [nzValue]="pathologie?.id">
                    </nz-option>
                </ng-container>
            </nz-select>&nbsp;
            <div *ngIf="!activated" class="col-12 d-flex justify-content-end">
                <button (click)="setPathologieDiagnostiquee()" *ngIf="!activated" tc-button
                    [view]="'warning'">Modifier</button>&nbsp;
                <button tc-button [view]="'error'" (click)="activated=true" *ngIf="!activated">Annuler</button>
            </div>&nbsp;
            <div class="col-12 d-flex justify-contend-end">

                <a href="javascript:void(0)" (click)="activated=false"
                    *ngIf=" entity?.pathologies?.length && (consultationSrv.resourceName|editable) && activated">Modifier
                    le resultat du diagnostique</a>
            </div>



        </tc-card>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <nz-tabset nzSize="small">
            <nz-tab nzTitle="Symptômes">
                <app-symptome-list [consultation]="entity"></app-symptome-list>
            </nz-tab>
            <nz-tab nzTitle="Médicaments Remis">
                <app-medicamentremis-list [consultation]="entity"></app-medicamentremis-list>
            </nz-tab>
            <nz-tab nzTitle="Rendez-vous">
                <app-rendez-vous-dossier *ngIf="entity" [dossier]="entity"></app-rendez-vous-dossier>
            </nz-tab>
        </nz-tabset>
    </div>
</div>
<app-access-denied *ngIf="!(consultationSrv.resourceName|showable)"></app-access-denied>

<!-- Pathologie Dignostiquée Modal window -->
<!-- <nz-modal nzWidth="50%" [(nzVisible)]="isPathologieModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
    [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closePathologieModal()">
    <ng-template #modalBody>
        <form #form="ngForm" ngNativeValidate>
            <div class="row">
                <div class="col-12">
                    <tc-form-group>
                        <tc-form-label>Pathologie</tc-form-label>
                        <nz-select name="pathologies" id="pathologie" #pathologie="ngModel" nzMode="multiple" nzPlaceHolder="Selectionner pathologie(s)" required="required"
                        [(ngModel)]="selectedPathologies">
                        <nz-option *ngFor="let pathologie of pathologies" [nzLabel]="pathologie?.nom" [nzValue]="pathologie"></nz-option>
                      </nz-select>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="pathologie">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="actions justify-content-between">
            <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
                (click)="closePathologieModal()">Fermer</button>
            <button [disabled]="!selectedPathologies" [disabled]="form.invalid" (click)="setPathologieDiagnostiquee()"
                [afterIcon]="'icofont-save'" tc-button [view]="'accent'">
                Enregistrer
            </button>
        </div>
    </ng-template>
</nz-modal> -->
<!-- end pathologie diagnostiquée Modal window -->