<tc-card *ngIf="consultationSrv.resourceName|listable" [tcGradient]="lightGradient">
    <!-- <tc-card [view]="secondViewBorder" [outline]="true">
      <div class="row">
        <div class="col-12">
          <button class="float-right" tc-button afterIcon="icofont-refresh">Rafraichir</button>
        </div>
      </div>
    </tc-card> -->
    <tc-table [itemsPerPage]="10" [rows]="consultations" [hovered]="true" [pagination]="true" [search]="true">
      <tc-table-col [columnTitle]="'Date'" [columnName]="'date'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <span class="nowrap">{{ value|date:'dd/MM/yyyy' }}</span>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Pathologie Diagnostiquée'" [columnName]="'pathologieDiagnostiquee'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <tc-badge *ngIf="!value" view="error"><span class="nowrap">Non précisée</span></tc-badge>
          <span *ngIf="value" class="nowrap label label-info">{{ value?.nom }}</span>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Prescrite par'" [columnName]="'docteur'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <span class="nowrap">{{ value?.prenoms+' '+value?.nom }}</span>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions nowrap">
            <button *ngIf="consultationSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
              [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'edit']"></button>
            <button *ngIf="consultationSrv.resourceName|deletable" (click)="remove(row)" tc-button
              [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
            <button *ngIf="consultationSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'"
              [view]="'accent'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="['/horizontal',consultationSrv.getRoutePrefixWithoutSlash(),row.id]"></button>
          </div>
        </ng-template>
      </tc-table-col>
    </tc-table>
    <app-empty-table-message *ngIf="!consultations?.length"></app-empty-table-message>
  </tc-card>
  <app-access-denied *ngIf="!(consultationSrv.resourceName|listable)"></app-access-denied>