<tc-card *ngIf="consultationSrv.resourceName|listable" [tcGradient]="lightGradient">
    <!-- <tc-card [view]="secondViewBorder" [outline]="true">
      <div class="row">
        <div class="col-12">
          <button class="float-right" tc-button afterIcon="icofont-refresh">Rafraichir</button>
        </div>
      </div>
    </tc-card> -->
    <tc-table [itemsPerPage]="10" [rows]="consultations" [hovered]="true" [pagination]="true" [search]="true">
      <tc-table-col [columnTitle]="'Date'" [columnName]="'date'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <span class="nowrap">{{ value }}</span>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'UserEmail'" [columnName]="'userEmail'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <span class="nowrap">{{ value }}</span>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
        <ng-template #tableTDTemplate let-row="row">
          <div class="actions">
            <button *ngIf="consultationSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
              [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'edit']"></button>
            <button *ngIf="consultationSrv.resourceName|clonable" [outline]="true" tc-button [afterIcon]="'icofont-copy'"
              [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'clone']"></button>
            <button *ngIf="consultationSrv.resourceName|deletable" (click)="remove(row)" tc-button
              [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
            <button *ngIf="consultationSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'"
              [view]="'accent'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id]"></button>
          </div>
        </ng-template>
      </tc-table-col>
    </tc-table>
    <app-empty-table-message *ngIf="!consultations?.length"></app-empty-table-message>
  </tc-card>
  <app-access-denied *ngIf="!(consultationSrv.resourceName|listable)"></app-access-denied>