<tc-card *ngIf="consultationSrv.resourceName|listable">
  <!-- <tc-card [view]="secondViewBorder" [outline]="true">
      <div class="row">
        <div class="col-12">
          <button class="float-right" tc-button afterIcon="icofont-refresh">Rafraichir</button>
        </div>
      </div>
    </tc-card> -->
  <tc-table [itemsPerPage]="10" [rows]="consultations" [hovered]="true" [pagination]="true" [search]="true">
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions nowrap">
          <button *ngIf="consultationSrv.resourceName|deletable" (click)="remove(row)" tc-button
            [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
            <button *ngIf="consultationSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'"
            [view]="'accent'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="['/horizontal',consultationSrv.getRoutePrefixWithoutSlash(),row.id]" class="ml-1"></button>
        </div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Date'" [columnName]="'date'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value let-row="row">
        <span class="nowrap">
          <a [routerLink]="['/horizontal',consultationSrv.getRoutePrefixWithoutSlash(),row.id]"
            routerLinkActive="router-link-active">{{value|date:'dd/MM/yyyy'}}</a>
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Motifs consul.'" [columnName]="'motifConsultations'"
      [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <tc-badge [outline]="true" *ngIf="!value" view="error"><span class="nowrap">Non précisé</span></tc-badge>
        <tc-badge [outline]="true" *ngIf="value" view="info"><span class="nowrap">{{ value }}</span></tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Symptômes'" [columnName]="'symptomes'"
      [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <tc-badge [outline]="true" *ngIf="!value" view="error"><span class="nowrap">Non précisé</span></tc-badge>
        <tc-badge [outline]="true" *ngIf="value" view="info"><span class="nowrap">{{ (value|map:'nom')|join:', ' }}</span></tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Pathologie diagnostiquée'" [columnName]="'pathologies'"
      [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <tc-badge [outline]="true" *ngIf="!value" view="error"><span class="nowrap">Non précisée</span></tc-badge>
        <tc-badge [outline]="true" *ngIf="value" view="info"><span class="nowrap">{{ value|map:'nom'|join:',' }}</span></tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Prescrite par'" [columnName]="'docteur'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap">{{ value?.prenoms+' '+value?.nom }}</span>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <app-empty-table-message *ngIf="!consultations?.length"></app-empty-table-message>
</tc-card>
<app-access-denied *ngIf="!(consultationSrv.resourceName|listable)"></app-access-denied>