<tc-card *ngIf="docteurSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <button tc-button (click)="location.back()" [outline]="true" beforeIcon="icofont-reply">Retour</button>
        <button [outline]="true" (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
            beforeIcon="icofont-refresh">Rafraichir</button>
        <button (click)="remove(entity)" *ngIf="docteurSrv.resourceName|deletable" [outline]="true" tc-button
            view="error" beforeIcon="icofont-trash" class="ml-1">Supprimer</button>
        <button *ngIf="docteurSrv.resourceName|editable"
            [routerLink]="['/'+orientation,docteurSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
            class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit">Modifier</button>
    </tc-card>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img style="width: 100%; height: 200px;" class="card-img-top" [src]="entity?.filepath" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ entity?.prenoms }} {{ entity?.nom }}</h4>
                    <tc-card [view]="secondViewBorder" [tcGradient]="secondGradient">
                        <table class="table">
                            <tr>
                                <th>Prénoms</th>
                                <td>{{ entity?.prenoms }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ entity?.nom }}</td>
                            </tr>
                            <tr>
                                <th>Spécialité</th>
                                <td>{{ entity?.specialite }}</td>
                            </tr>
                            <tr>
                                <th>File name</th>
                                <td>{{ entity?.filename }}</td>
                            </tr>
                        </table>
                    </tc-card>
                </div>
            </div>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(docteurSrv.resourceName|showable)"></app-access-denied>