
@import '~src/assets/sass/variables';

:host {
  .actions {
    display: flex;
    margin: -$module-rem / 4;

    .tc-btn {
      margin: $module-rem / 4;
    }
  }
  .scroll-x{
    overflow-x: auto;
  }
  .shadow{
    box-shadow: 0px 1px 5px rgb(202, 198, 198);
  }

  .clic{
    cursor: pointer;
  }
}