<tc-card *ngIf="rendezVousSrv.resourceName|listable">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row mb-4">
      <div class="col-12 col-md-4">
        <tc-form-group>
          <nz-range-picker [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="dates" [nzSize]="'default'"></nz-range-picker>
        </tc-form-group>
      </div>
      <div class="col-12 col-md-2">
        <button [disabled]="!dates" tc-button afterIcon="icofont-filter" (click)="filter()"
          view="accent">Filtrer</button>
      </div>
      <div class="col-12 col-md-2 float-end">
        <button tc-button afterIcon="icofont-refresh" (click)="findAll()">Rafraichir</button>
      </div>
    </div>
    <nz-table class="mt-5 scroll-x" [nzBordered]="'true'" [nzShowPagination]="true" [nzPageSize]="10" [nzData]="items"
      #nestedTable>
      <thead>
        <tr>
          <th></th>
          <th>Matricule</th>
          <th>Prénoms</th>
          <th>Nom</th>
          <th>Date Prescription</th>
          <th>Consultation</th>
          <th>Présence</th>
          <th>Date RV</th>
          <th>Déscription</th>
          <th>Ajouté par</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
          <tr>
            <td [(nzExpand)]="data.expand"></td>
            <td><b>{{ data.consultation.dossier.matricule }}</b></td>
            <td>{{ data.consultation.dossier.prenoms }}</td>
            <td>{{ data.consultation.dossier.nom }}</td>
            <td>{{ data.dateCreation | date: 'dd/MM/yyyy' }}</td>
            <td><a [routerLink]="['/horizontal/consultation', data.consultation.id]">{{ data.consultation.dossier.numero
                }}</a></td>
            <td>
              <tc-badge view="{{ data.presence ? 'success' : 'error' }}"><span class="nowrap">{{ data.presence ? 'Oui' :
                  'Pas encore' }}</span></tc-badge>
            </td>

            <td>
              <tc-badge view="info">{{data.dateRendezVous | date: 'dd/MM/yyyy'}}</tc-badge>
            </td>
            <td>
              <span *ngIf="data.description" class="nowrap">{{ data.description }}</span>
              <tc-badge *ngIf="!data.description" view="error"><span>Indéfinie</span></tc-badge>
            </td>
            <td><span class="nowrap">{{ data.userEmail }}</span></td>
            <td>
              <div class="actions">
                <button *ngIf="rendezVousSrv.resourceName|editable" tc-button [afterIcon]="'icofont-ui-edit'"
                  [view]="'warning'" [square]="true" [tcShape]="500" [size]="'sm'" (click)="setEditItem(data)"></button>
                <button *ngIf="rendezVousSrv.resourceName|deletable" (click)="remove(data)" tc-button
                  [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500"
                  [size]="'sm'"></button>
              </div>
            </td>
          </tr>
          <tr *ngIf="data.mesure" [nzExpand]="data.expand">
            <nz-table class="my-2 table-striped" #innerTable [nzData]="toArray(data.mesure)" nzSize="small"
              [nzShowPagination]="false">
      <tbody>
        <b>
          <tr class="col-12">
            <td class="col-2">Tension artérielle :</td>
            <td class="col-4"><span *ngIf="data.mesure.tensionArterielle" class="nowrap">{{
                data.mesure.tensionArterielle }}</span>
              <tc-badge *ngIf="!data.mesure.tensionArterielle" [outline]="true" view="error"><span>Indéfinie</span>
              </tc-badge>
            </td>
            <td class="col-2">Température :</td>
            <td class="col-4"><span *ngIf="data.mesure.temperature" class="nowrap">{{ data.mesure.temperature }}</span>
              <tc-badge *ngIf="!data.mesure.temperature" [outline]="true" view="error"><span>Indéfinie</span></tc-badge>
            </td>
          </tr>
          <tr class="col-12">
            <td class="col-2">Pouls :</td>
            <td class="col-4"><span *ngIf="data.mesure.pouls" class="nowrap">{{ data.mesure.pouls }}</span>
              <tc-badge *ngIf="!data.mesure.pouls" [outline]="true" view="error"><span>Indéfinie</span></tc-badge>
            </td>
            <td class="col-2">Fréquence respiratoire :</td>
            <td class="col-4"><span *ngIf="data.mesure.frequenceRespiratoire" class="nowrap">{{
                data.mesure.frequenceRespiratoire }}</span>
              <tc-badge *ngIf="!data.mesure.frequenceRespiratoire" [outline]="true" view="error"><span>Indéfinie</span>
              </tc-badge>
            </td>
          </tr>
          <tr class="col-12">
            <td class="col-2">Poids :</td>
            <td class="col-4"><span *ngIf="data.mesure.poids" class="nowrap">{{ data.mesure.poids }}</span>
              <tc-badge *ngIf="!data.mesure.poids" [outline]="true" view="error"><span>Indéfinie</span></tc-badge>
            </td>
            <td class="col-2">Glycémie :</td>
            <td class="col-4"><span *ngIf="data.mesure.glycemie" class="nowrap">{{ data.mesure.glycemie }}</span>
              <tc-badge *ngIf="!data.mesure.glycemie" [outline]="true" view="error"><span>Indéfinie</span></tc-badge>
            </td>
          </tr>
          <tr class="col-12">
            <td class="col-2">Examen paracliniques :</td>
            <td class="col-4"><span *ngIf="data.mesure.examenParacliniques" class="nowrap">{{
                data.mesure.examenParacliniques }}</span>
              <tc-badge *ngIf="!data.mesure.examenParacliniques" [outline]="true" view="error"><span>Indéfinie</span>
              </tc-badge>
            </td>
            <td class="col-2">Examen cliniques :</td>
            <td class="col-4"><span *ngIf="data.mesure.examenCliniques" class="nowrap">{{ data.mesure.examenCliniques
                }}</span>
              <tc-badge *ngIf="!data.mesure.examenCliniques" [outline]="true" view="error"><span>Indéfinie</span>
              </tc-badge>
            </td>
          </tr>
        </b>
      </tbody>
    </nz-table>
    </tr>
    </ng-template>
    </tbody>
    </nz-table>
    <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
  </tc-card>


</tc-card>
<app-access-denied *ngIf="!(rendezVousSrv.resourceName|listable)"></app-access-denied>
<app-rendezvous-edit (update)="commitEditChange()" [entity]="selectedItem" [visible]="isEditModalVisible"
  (close)="closeEditModal()"></app-rendezvous-edit>