<tc-card *ngIf="entity && pathologieConsultationSrv.resourceName|clonable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [outline]="true" [view]="secondViewBorder">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="accent"
                    beforeIcon="icofont-reply">Retour</button>
                <button class="float-right" (click)="refreshCloneData()" afterIcon="icofont-refresh"
                    tc-button type="button" view="success">Rafraichir</button>
            </div>
        </tc-card>
        <tc-card [outline]="true" title="Détails" [view]="secondViewBorder" [tcGradient]="secondGradient">
            <div class="row">
                                                                </div>
        </tc-card>
        <tc-card [outline]="true" [view]="secondViewBorder">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                    beforeIcon="icofont-close">Annuler</button>
                <button type="button" [disabled]="form.invalid" class="ml-1 float-right"
                    (click)="clone()" [beforeIcon]="'icofont-save'" tc-button [view]="'warning'">
                    Enregistrer
                </button>
                <button class="ml-1 float-right" (click)="refreshCloneData()" afterIcon="icofont-refresh"
                    tc-button type="button" view="success">Rafraichir</button>
                <button class="ml-1 float-right" afterIcon="icofont-eraser" tc-button type="reset">Vider</button>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(pathologieConsultationSrv.resourceName|clonable)"></app-access-denied>