<tc-card *ngIf="pathologieSrv.resourceName|listable" [tcGradient]="lightGradient">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-start align-items-center">
                <div class="col-2 col-md-2 col-lg-2">
                    <h5>Mois</h5>
                    <nz-select [(ngModel)]="selectedMois" class="select-input"
                        (ngModelChange)="getData();buildDiagram()">
                        <nz-option *ngFor="let item of (listOfMonths | keyvalue)" [nzValue]="item.key"
                            [nzLabel]="item.value">
                        </nz-option>
                    </nz-select>
                </div>
                <div class="col-2 col-md-2 col-lg-2">
                    <h5>Année</h5>
                    <nz-select [(ngModel)]="selectedAnnee" (ngModelChange)="getData();buildDiagram()"
                        class="select-input">
                        <nz-option *ngFor="let annee of annees" [nzValue]="annee" [nzLabel]="annee"></nz-option>
                    </nz-select>
                </div>
            </div>

        </div>
    </div>
    <nz-tabset nzTabPosition="bottom" *ngIf="data">
        <nz-tab *ngFor="let tab of data?.content" [nzTitle]="'Tableau des statistiques'">
            <div class="ms-auto my-3 p-2 bd-highlight">
                <button [disabled]="disableExportButton" nz-button nzType="primary"
                    (click)="exportToExcel('spjTable1', fileName)" class="shadow " [nzSize]="'large'"><i nz-icon
                        nzType="download"></i>Exporter le tableau</button>
            </div>
            <nz-table id="spjTable1" nzScroll="x" [nzFrontPagination]="'false'" nzBordered="true"
                [nzShowPagination]="'false'" class="table table-scrollable table-hover table-responsive-sm" #spjTable1
                [nzData]="tab">

                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="2" *ngFor="let pathologie of data?.header">{{pathologie.nom}}</th>
                        <th colspan="2">Total</th>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let pathologie of data?.header">
                            <th>T</th>
                            <th>NT</th>
                        </ng-container>
                        <th>T</th>
                        <th>NT</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let elt of data.content">
                        <tr *ngFor="let item of elt.dayTab">
                            <td scope="row">J{{item?.day}}</td>
                            <ng-container *ngFor="let val of item?.pathTab">
                                <td>{{(val?.travailleur>0)?val?.travailleur:'-'}}</td>
                                <td>{{(val?.nt>0)?val?.nt:'-'}}</td>
                            </ng-container>
                            <td>{{item?.totalT}}</td>
                            <td>{{item?.totalNT}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </nz-tab>
        <nz-tab [nzTitle]="'Diagramme des statistiques'">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <h5>Choisir une Pathologie pour filtrer</h5>
                    <nz-select [(ngModel)]="selectedPathologie" (ngModelChange)="buildDiagram()" style="width: 100%;">
                        <nz-option *ngFor="let item of items" [nzValue]="item" [nzLabel]="item?.nom"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div *ngIf="!loading && isLoad">
                <div class="row mt-4">
                    <div class="col-12 col-md-4">
                        <tc-form-group *ngIf="canSwitchDiagramType">
                            <tc-form-label>Type de graphe</tc-form-label>
                            <nz-select nzAllowClear nzShowSearch name="typeDiagram" id="typeDiagram"
                                nzPlaceHolder="Selectionner type diagram" [(ngModel)]="selectedTypeDiagram">
                                <ng-container *ngFor="let diagramType of typeDiagrams">
                                    <nz-option [nzLabel]="diagramType?.title" [nzValue]="diagramType?.value">
                                    </nz-option>
                                </ng-container>
                            </nz-select>
                        </tc-form-group>
                    </div>
                </div>
                <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                    [plugins]="chartPlugins" [legend]="chartLegend" [chartType]="selectedTypeDiagram">
                </canvas>
                <nz-table id="spjTable2" nzScroll="x" [nzFrontPagination]="'false'" nzBordered="true"
                    [nzShowPagination]="'false'" class="table mt-5 table-scrollable table-hover table-responsive-sm"
                    #spjTable2 [nzData]="chartData">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th *ngFor="let label of chartLabels">{{label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of spjTable2.data">
                            <td scope="row">{{item.label}}</td>
                            <td *ngFor="let val of item.data">{{val}}</td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="my-3 my-3 p-2">
                    <button [disabled]="disableExportButton" nz-button nzType="primary"
                        (click)="exportToExcel('spjTable2', fileName)" class="shadow" [nzSize]="'large'"><i nz-icon
                            nzType="download"></i>Exporter le tableau</button>
                </div>
            </div>
        </nz-tab>
    </nz-tabset>
</tc-card>