<div class="col-4">
    <div class="example-input">
        <input style="width: 170px; height: 35px;" placeholder="Rechercher un dossier" nz-input [(ngModel)]="searchTerm"
            (input)="getDossiers()" [nzAutocomplete]="auto" />
        <nz-autocomplete nzBackfill #auto>
            <nz-auto-option *ngFor="let item of datas">
                <a (click)="selectEvent(item)" href="javascript:void(0)">
                    <div class="row">
                        <div class="col-12">
                            <span [innerHTML]="item?.prenoms" class="thick">{{item?.prenoms}}</span>,
                            <span [innerHTML]="item?.nom" class="thick">{{item?.nom}}</span>
                            <br>
                            <span [innerHTML]="item?.matricule" style="color: blue;">{{item?.matricule}}</span>
                            <br>
                            <span [innerHTML]="item?.structure" style="color: blue;">{{item?.structure}}</span>
                            <br>
                            <span [innerHTML]="item?.cni" style="color: blue;">{{item?.cni}}</span>
                            <p *ngIf="item?.typePatient=='FAMILLE'">
                                <span [innerHTML]="item?.lienParente" style="color: blue;">{{item?.lienParente}}</span>
                                <span> de </span>
                                <span [innerHTML]="item?.prenomTravailleur"
                                    style="color: blue;">{{item?.prenomTravailleur}}</span>&nbsp;
                                <span [innerHTML]="item?.nomTravailleur"
                                    style="color: blue;">{{item?.nomTravailleur}}</span>
                            </p>
                        </div>
                    </div>
                </a>
            </nz-auto-option>
        </nz-autocomplete>
    </div>
</div>