<div class="add-action-box" *ngIf="consultationSrv.resourceName|creable">
  <button tc-button [afterIcon]="'icofont-plus'" [view]="'accent'" [square]="true" [tcShape]="500"
    (click)="openModal()"></button>
</div>
<app-access-denied *ngIf="!(consultationSrv.resourceName|creable)"></app-access-denied>

<!-- Modal window -->
<nz-modal nzWidth="80%" [(nzVisible)]="isModalVisible" [nzClosable]="false" [nzTitle]="'Formulaire - Nouveau'"
  [nzContent]="modalBody" [nzFooter]="modalFooter" (nzOnCancel)="closeModal()">
  <ng-template #modalBody>
    <form #form="ngForm" ngNativeValidate>
      <div class="row">
                                                                            <div class="col-12 col-md-6">
                        <tc-form-group>
                            <tc-form-label>Date</tc-form-label>
                            <tc-input required="required" [(ngModel)]="entity.date" name="date" id="date" #date="ngModel">
                            </tc-input>
                            <tc-form-description>
                                <app-form-field-validation-message [formField]="date"></app-form-field-validation-message>
                            </tc-form-description>
                        </tc-form-group>
                    </div>
                                                                <div class="col-12 col-md-6">
                        <tc-form-group>
                            <tc-form-label>UserEmail</tc-form-label>
                            <tc-input required="required" [(ngModel)]="entity.userEmail" name="userEmail" id="userEmail" #userEmail="ngModel">
                            </tc-input>
                            <tc-form-description>
                                <app-form-field-validation-message [formField]="userEmail"></app-form-field-validation-message>
                            </tc-form-description>
                        </tc-form-group>
                    </div>
                                    </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button beforeIcon="icofont-close" class="pull-right" tc-button [type]="'button'" [view]="'error'"
        (click)="closeModal()">Fermer</button>
      <button [disabled]="form.invalid" [disabled]="form.invalid" (click)="save()" [afterIcon]="'icofont-save'" tc-button [view]="'accent'">
        Enregistrer
      </button>
    </div>
  </ng-template>
</nz-modal>
<!-- end Modal window -->
