<tc-card *ngIf="pathologieSrv.resourceName|listable" [tcGradient]="statisticGradient">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <h5>Choisir une année pour filtrer</h5>                       
            <nz-select [(ngModel)]="selectedAnnee" (ngModelChange)="getData()" style="width: 100%;">
                <nz-option *ngFor="let annee of annees" [nzValue]="annee" [nzLabel]="annee"></nz-option>
            </nz-select>
        </div>
    </div>
    <br>
    <hr>
    <table class="table table-responsive table-bordered table-hover" *ngIf="data" >
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let pathologie of data?.header">{{pathologie.nom}}</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data?.content">
                <td scope="row">{{item.month}}</td>
                <td *ngFor="let val of item.pathTab">{{val.nombre}}</td>
                <td>{{item.total}}</td>
            </tr>
        </tbody>
    </table>
</tc-card>