<tc-card *ngIf="consultationSrv.resourceName|listable" [tcGradient]="statisticGradient">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <h5>Choisir une année pour filtrer</h5>
            <nz-select [(ngModel)]="selectedAnnee" (ngModelChange)="getData(); buildDiagram()"
                style="width: 100%; margin-top: -10px;">
                <nz-option *ngFor="let annee of annees" [nzValue]="annee" [nzLabel]="annee"></nz-option>
            </nz-select>
        </div>
    </div>
    <br>
    <hr>
    <nz-tabset nzTabPosition="bottom" *ngIf="data">
        <nz-tab [nzTitle]="'Tableau des statistiques'">
            <tc-card [tcGradient]="statisticGradient">
                <table class="table table-bordered table-hover table-responsive-sm">
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th colspan="3" style="text-align: center;">Permanent</th>
                            <th rowspan="2">ETUDIANTS</th>
                            <th rowspan="2">TOTAL</th>
                        </tr>
                        <tr>
                            <th>PERS</th>
                            <th>PATS</th>
                            <th>FAMILLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td scope="row">{{item?.month}}</td>
                            <td>{{item?.per}}</td>
                            <td>{{item?.pats}}</td>
                            <td>{{item?.famille}}</td>
                            <td>{{item?.etudiant}}</td>
                            <td>{{item?.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </tc-card>
        </nz-tab>
        <nz-tab [nzTitle]="'Diagramme des statistiques'">
            <tc-card [tcGradient]="statisticGradient">
                <div *ngIf="!loading && isLoad">
                    <tc-form-group *ngIf="canSwitchDiagramType">
                        <tc-form-label>Type de graphe</tc-form-label>
                        <nz-select nzAllowClear nzShowSearch style="width: 100%" name="typeDiagram" id="typeDiagram"
                            nzPlaceHolder="Selectionner type diagram" [(ngModel)]="selectedTypeDiagram">
                            <ng-container *ngFor="let diagramType of typeDiagrams">
                                <nz-option [nzLabel]="diagramType?.title" [nzValue]="diagramType?.value">
                                </nz-option>
                            </ng-container>
                        </nz-select>
                    </tc-form-group>
                    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                        [plugins]="chartPlugins" [legend]="chartLegend" [chartType]="selectedTypeDiagram">
                    </canvas>
                    <hr class="m-2">
                    <tc-card view="accent" [outline]="true">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Mois
                                    </th>
                                    <th *ngFor="let label of chartLabels">{{label}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of chartData">
                                    <td scope="row">{{item.label}}</td>
                                    <td *ngFor="let val of item.data">{{val}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </tc-card>
                </div>
            </tc-card>
        </nz-tab>
    </nz-tabset>
</tc-card>