<tc-card *ngIf="medicamentReceptionSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <button tc-button (click)="location.back()" [outline]="true" beforeIcon="icofont-reply">Retour</button>
        <button [outline]="true" (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
            beforeIcon="icofont-refresh">Rafraichir</button>
        <button (click)="remove(entity)" *ngIf="medicamentReceptionSrv.resourceName|deletable" [outline]="true"
            tc-button view="error" beforeIcon="icofont-trash" class="ml-1">Supprimer</button>
        <button *ngIf="medicamentReceptionSrv.resourceName|editable"
            [routerLink]="['/'+orientation,medicamentReceptionSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
            class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit">Modifier</button>
    </tc-card>
    <div class="row">
        <div class="col-12">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                    <tr>
                        <th>Quantité</th>
                        <td>{{ entity?.quantite }}</td>
                    </tr>
                </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(medicamentReceptionSrv.resourceName|showable)"></app-access-denied>