<tc-card *ngIf="inputationSrv.resourceName|listable" [tcGradient]="lightGradient">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
            <h5>Choisir une année pour filtrer</h5>
            <nz-select [(ngModel)]="selectedAnnee" (ngModelChange)="getData(); buildDiagram()"
                style="width: 100%; margin-top: -10px;">
                <nz-option *ngFor="let annee of annees" [nzValue]="annee" [nzLabel]="annee"></nz-option>
            </nz-select>
        </div>
    </div>
    <nz-tabset nzTabPosition="bottom" *ngIf="data">
        <nz-tab [nzTitle]="'Tableau des statistiques'">
            <div class="ms-auto p-2 bd-highlight">
                <button nz-button nzType="primary" (click)="exportToExcel('cmTable1', fileName)" class="shadow "
                    [nzSize]="'large'"><i nz-icon nzType="download"></i>Exporter le tableau</button>
            </div>
            <nz-table id="cmTable1" nzScroll="x" [nzFrontPagination]="'false'" nzBordered="true"
                [nzShowPagination]="'false'" class="table table-scrollable table-hover table-responsive-sm"
                #cmTable1 [nzData]="data">
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th colspan="3" style="text-align: center;">PERMANENT</th>
                        <th rowspan="2">ETUDIANTS</th>
                        <th rowspan="2">TOTAL</th>
                    </tr>
                    <tr>
                        <th>PERS</th>
                        <th>PATS</th>
                        <th>FAMILLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cmTable1.data">
                        <td scope="row">{{item?.month}}</td>
                        <td>{{item?.per}}</td>
                        <td>{{item?.pats}}</td>
                        <td>{{item?.famille}}</td>
                        <td>{{item?.etudiant}}</td>
                        <td>{{item?.total}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-tab>
        <nz-tab [nzTitle]="'Diagramme des statistiques'">
            <div *ngIf="!loading && isLoad">
                <div class="row mt-4">
                    <div class="col-12 col-md-4">
                        <tc-form-group *ngIf="canSwitchDiagramType">
                            <tc-form-label>Type de graphe</tc-form-label>
                            <nz-select nzAllowClear nzShowSearch style="width: 100%" name="typeDiagram" id="typeDiagram"
                                nzPlaceHolder="Selectionner type diagram" [(ngModel)]="selectedTypeDiagram">
                                <ng-container *ngFor="let diagramType of typeDiagrams">
                                    <nz-option [nzLabel]="diagramType?.title" [nzValue]="diagramType?.value">
                                    </nz-option>
                                </ng-container>
                            </nz-select>
                        </tc-form-group>
                    </div>
                </div>

                <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                    [plugins]="chartPlugins" [legend]="chartLegend" [chartType]="selectedTypeDiagram">
                </canvas>
                <nz-table id="cmTable2" nzScroll="x" [nzFrontPagination]="'false'" nzBordered="true"
                    [nzShowPagination]="'false'" class="table mt-5 table-scrollable table-hover table-responsive-sm"
                    #cmTable2 [nzData]="chartData">

                    <thead>
                        <tr>
                            <th>Mois
                            </th>
                            <th *ngFor="let label of chartLabels">{{label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cmTable2.data">
                            <td scope="row">{{item.label}}</td>
                            <td *ngFor="let val of item.data">{{val}}</td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="ms-auto p-2 bd-highlight">
                    <button nz-button nzType="primary" (click)="exportToExcel('cmTable2', fileName)" class="shadow "
                        [nzSize]="'large'"><i nz-icon nzType="download"></i>Exporter le tableau</button>
                </div>
            </div>
        </nz-tab>
    </nz-tabset>
</tc-card>