<tc-card *ngIf="entity && groupSrv.resourceName|editable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions justify-content-between">
                <div class="row">
                    <div class="col-12">
                        <button [outline]="true" type="button" (click)="location.back()" tc-button
                            beforeIcon="icofont-reply">Retour</button>
                        <button (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button type="button"
                            view="success" class="float-right">Rafraichir</button>
                    </div>
                </div>
            </div>
        </tc-card>
        <tc-card title="Détails" [view]="secondViewBorder" [outline]="true" [tcGradient]="secondGradient">
            <div class="row">
                <div class="col-12">
                    <tc-form-group>
                        <tc-form-label>Nom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.name" name="name" id="name" #name="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="name"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Code</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.code" name="code" id="code" #code="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="code"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
            </div>
        </tc-card>
        <tc-card title="Droits d'accès" [view]="secondViewBorder" [outline]="true" [tcGradient]="secondGradient">
            <div class="row">
                <div class="col-12">
                    <div class="col-lg-6" *ngFor="let accessGroup of accessGroups">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th colspan="8" class="text-center">
                                        {{accessGroup.groupName}}
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input (change)="handleGroupSelection($event,accessGroup)" type="checkbox"
                                                class="custom-control-input" id="check{{accessGroup.groupName}}Group">
                                            <label class="custom-control-label"
                                                for="check{{accessGroup.groupName}}Group"></label>
                                        </div>
                                    </th>
                                    <th>Nom</th>
                                    <th>
                                        <i class="icofont-list" aria-hidden="true"></i>
                                    </th>
                                    <th>
                                        <i class="icofont-eye" aria-hidden="true"></i>
                                    </th>
                                    <th>
                                        <i class="icofont-plus-circle" aria-hidden="true"></i>
                                    </th>
                                    <th>
                                        <i class="icofont-edit" aria-hidden="true"></i>
                                    </th>
                                    <th>
                                        <i class="icofont-copy" aria-hidden="true"></i>
                                    </th>
                                    <th>
                                        <i class="icofont-trash" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let accessModel of accessGroup.accessModels; let i=index">
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input (change)="handleAccessSelection($event,accessModel)"
                                                [(ngModel)]="accessModel.checkAll" type="checkbox"
                                                class="custom-control-input" id="check{{accessModel.tableName}}Access"
                                                name="check{{accessModel.tableName}}Access">
                                            <label class="custom-control-label"
                                                for="check{{accessModel.tableName}}Access"></label>
                                        </div>
                                    </td>
                                    <td scope="row">{{accessModel.tableName}}</td>
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input name="{{accessModel.tableName}}Index"
                                                [(ngModel)]="accessModel.isIndexAllowed" type="checkbox"
                                                class="custom-control-input" id="{{accessModel.tableName}}Index">
                                            <label class="custom-control-label"
                                                for="{{accessModel.tableName}}Index"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input name="{{accessModel.tableName}}Show"
                                                [(ngModel)]="accessModel.isShowAllowed" type="checkbox"
                                                class="custom-control-input" id="{{accessModel.tableName}}Show">
                                            <label class="custom-control-label"
                                                for="{{accessModel.tableName}}Show"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input name="{{accessModel.tableName}}Create"
                                                [(ngModel)]="accessModel.isCreateAllowed" type="checkbox"
                                                class="custom-control-input" id="{{accessModel.tableName}}Create">
                                            <label class="custom-control-label"
                                                for="{{accessModel.tableName}}Create"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input name="{{accessModel.tableName}}Edit"
                                                [(ngModel)]="accessModel.isEditAllowed" type="checkbox"
                                                class="custom-control-input" id="{{accessModel.tableName}}Edit">
                                            <label class="custom-control-label"
                                                for="{{accessModel.tableName}}Edit"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input name="{{accessModel.tableName}}Clone"
                                                [(ngModel)]="accessModel.isCloneAllowed" type="checkbox"
                                                class="custom-control-input" id="{{accessModel.tableName}}Clone">
                                            <label class="custom-control-label"
                                                for="{{accessModel.tableName}}Clone"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input name="{{accessModel.tableName}}Delete"
                                                [(ngModel)]="accessModel.isDeleteAllowed" type="checkbox"
                                                class="custom-control-input" id="{{accessModel.tableName}}Delete">
                                            <label class="custom-control-label"
                                                for="{{accessModel.tableName}}Delete"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </tc-card>
        <tc-card view="Default" [view]="secondViewBorder" [outline]="true">
            <div class="actions">
                <div class="row">
                    <div class="col-12">
                        <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                            beforeIcon="icofont-close">Annuler</button>
                        <button type="button" [disabled]="form.invalid" class="float-right" (click)="update()"
                            [beforeIcon]="'icofont-save'" tc-button [view]="'warning'">
                            Mettre à jour
                        </button>
                    </div>
                </div>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(groupSrv.resourceName|editable)"></app-access-denied>