<tc-card *ngIf="bonReceptionSrv.resourceName|showable" [tcGradient]="lightGradient">
    <tc-card [view]="secondViewBorder" [outline]="true" [padding]="0.5">
        <button tc-button (click)="location.back()" [outline]="true" beforeIcon="icofont-mail-reply">Retour</button>
        <button [outline]="true" (click)="findEntity(entity.id)" class="float-right ml-1" tc-button view="accent"
            beforeIcon="icofont-refresh">Rafraichir</button>
        <button (click)="remove(entity)" *ngIf="bonReceptionSrv.resourceName|deletable" [outline]="true" tc-button
            view="error" beforeIcon="icofont-trash" class="ml-1">Supprimer</button>
        <button *ngIf="bonReceptionSrv.resourceName|editable"
            [routerLink]="['/'+orientation,bonReceptionSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
            class="float-right ml-1" tc-button view="warning" beforeIcon="icofont-edit">Modifier</button>
    </tc-card>
    <div class="row">
        <div class="col-12 col-md-6">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <table class="table">
                    <tr>
                        <th>Numero</th>
                        <td>{{ entity?.numero }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ entity?.date|date:'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                        <th>Créée par</th>
                        <td>{{ entity?.userEmail }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ entity?.nom }}</td>
                    </tr>
                </table>
            </tc-card>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(bonReceptionSrv.resourceName|showable)"></app-access-denied>