<tc-card *ngIf="bonReceptionSrv.resourceName|showable" [tcGradient]="lightGradient">
    <div class="row">
        <div class="col-12 col-md-4" style="align-items: center;">
            <tc-card [outline]="true" [view]="secondViewBorder" [title]="title" [tcGradient]="secondGradient">
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <tr>
                                <th>Numéro</th>
                                <td>{{ entity?.numero }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{{ entity?.date|date:'dd/MM/yyyy' }}</td>
                            </tr>
                            <tr>
                                <th>Créée par</th>
                                <td>{{ entity?.userEmail }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ entity?.nom }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-12">
                                        <button tc-button class="float-right ml-1" (click)="location.back()"
                                            beforeIcon="icofont-reply"></button>
                                        <button (click)="findEntity(entity.id)" tc-button view="accent"
                                            class="float-right ml-1" beforeIcon="icofont-refresh"></button>
                                        <button (click)="remove(entity)" *ngIf="bonReceptionSrv.resourceName|deletable"
                                            tc-button view="error" beforeIcon="icofont-trash"
                                            class="float-right ml-1"></button>
                                        <button *ngIf="bonReceptionSrv.resourceName|editable"
                                            [routerLink]="['/'+orientation,bonReceptionSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                                            class="float-right ml-1" tc-button view="warning"
                                            beforeIcon="icofont-edit"></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </tc-card>
        </div>
        <div class="col-12 col-md-8">
            <app-medicamentreception-list *ngIf="entity" [bonReception]="entity" [orientation]="orientation">
            </app-medicamentreception-list>
        </div>
    </div>
</tc-card>
<app-access-denied *ngIf="!(bonReceptionSrv.resourceName|showable)"></app-access-denied>