<tc-card *ngIf="medicamentSrv.resourceName|listable" [tcGradient]="lightGradient">
  <tc-card [view]="secondViewBorder" [outline]="true">
    <div class="row">
      <div class="col-12">
        <button class="float-right" tc-button afterIcon="icofont-refresh" (click)="findAll()">Rafraichir</button>
      </div>
    </div>
  </tc-card>
  <tc-table [itemsPerPage]="10" [rows]="items" [hovered]="true" [pagination]="true" [search]="true">
    <tc-table-col [enableSorting]="false" [columnTitle]="'Photo'" [columnName]="'filepath'">
      <ng-template #tableTDTemplate let-value>
        <tc-avatar *ngIf="value" [src]="value"></tc-avatar>
        <i *ngIf="!value" class="icofont-drug icofont-2x"></i>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Nom'" [columnName]="'nom'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Quantité en stock'" [columnName]="'quantiteStock'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <tc-badge view="error" [outline]="true">
          <span class="nowrap">{{ value }}</span>
        </tc-badge>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button *ngIf="medicamentSrv.resourceName|editable" tc-button afterIcon="icofont-ui-edit" [view]="'warning'"
            [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id,'edit']"></button>
          <button *ngIf="medicamentSrv.resourceName|deletable" (click)="remove(row)" tc-button
            [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500" [size]="'sm'"></button>
          <button *ngIf="medicamentSrv.resourceName|showable" tc-button [afterIcon]="'icofont-eye-open'"
            [view]="'accent'" [square]="true" [tcShape]="500" [size]="'sm'" [routerLink]="[row.id]"></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
  <app-empty-table-message *ngIf="!items.length"></app-empty-table-message>
  <app-medicament-new (creation)="onCreate($event)"></app-medicament-new>
</tc-card>
<app-access-denied *ngIf="!(medicamentSrv.resourceName|listable)"></app-access-denied>