<div class="row" *ngIf="dossierSrv.resourceName|showable">
    <div class="col-12 mb-1">
        <div class="row">
            <div class="col-12 col-md-8" [ngStyle]="{'border-right': '3px dashed '+sidebarBg}">
                <h5 [ngStyle]="{'color': sidebarBg}" class="m-0">Dossier médical n° {{entity?.numero}}</h5>
                <h4 [ngStyle]="{'color': sidebarBg}" class="m-0">{{entity?.prenoms+' '+entity?.nom}} <span
                        *ngIf="entity?.matricule">-
                        {{entity?.matricule}}</span></h4>
                <h6 class="m-0">{{entity?.typePatient}} - {{entity?.structure}}</h6>
            </div>
            <div class="col-12 col-md-4">
                <button tc-button (click)="location.back()" [outline]="true" beforeIcon="icofont-reply"></button>
                <button [outline]="true" (click)="findEntity(entity.id)" class="mr-1 ml-1" tc-button view="success"
                    beforeIcon="icofont-refresh"></button>
                <button (click)="remove(entity)" *ngIf="dossierSrv.resourceName|deletable" [outline]="true" tc-button
                    view="error" beforeIcon="icofont-trash" class="mr-1"></button>
                <button *ngIf="dossierSrv.resourceName|editable"
                    [routerLink]="['/'+orientation,dossierSrv.getRoutePrefixWithoutSlash(),entity?.id,'edit']"
                    class="mr-1" tc-button view="warning" beforeIcon="icofont-edit"></button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4" [ngStyle]="{'border-right': '2px solid '+sidebarBg}">
                <ul class="info-section">
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-5 info-title">Prénoms :</div>
                            <div class="col-6 col-md-7 info-content">{{entity?.prenoms}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-5 info-title">Nom :</div>
                            <div class="col-6 col-md-7 info-content">{{entity?.nom}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-5 info-title">Date de naissance :</div>
                            <div class="col-6 col-md-7 info-content">{{entity?.dateNaissance|date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-5 info-title">Sexe :</div>
                            <div class="col-6 col-md-7 info-content">{{entity?.genre}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 info-title">Situation matrimoniale :</div>
                            <div class="col-6 info-content">{{entity?.situationMatrimoniale}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Date mariage :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.dateMariage}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-5 info-title">CNI :</div>
                            <div class="col-6 col-md-7 info-content">{{entity?.cni}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-6 col-md-5 info-title">Téléphone :</div>
                            <div class="col-6 col-md-7 info-content"><a
                                    href="tel:{{entity?.telephone}}">{{entity?.telephone}}</a></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-8">
                <ul class="info-section">
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Historiques maladie :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.historiqueMaladies}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Niveau d'jnstruction :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.niveauInstruction}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Genre vie :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.genreVie}}</div>
                        </div>
                    </li>
                    <li class="info-line" *ngIf="entity?.genreVie=='autres'">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Description genre vie :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.descriptionGenreVie}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Antécédents médicaux :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.antecedentMedicaux}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Antécédents churirgicaux :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.antecedentChurirgicaux}}</div>
                        </div>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 info-title">Antécédents familiaux :</div>
                            <div class="col-sm-6 col-md-7 info-content">{{entity?.antecedentFamiliaux}}</div>
                        </div>
                    </li>
                    <li>
                        <hr>
                    </li>
                    <li class="info-line">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <app-consultation-new class="mr-1" [dossier]="entity"></app-consultation-new>
                                <app-reposmedical-new class="mr-1" [dossier]="entity"
                                    (creation)="findEntity(activatedRoute.snapshot.params.id)"></app-reposmedical-new>
                                <app-inputation-new [dossier]="entity"
                                    (creation)="findEntity(activatedRoute.snapshot.params.id)"></app-inputation-new>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <nz-tabset nzSize="small">
            <nz-tab nzTitle="Consultations">
                <app-consultation-dossier [consultations]="entity?.consultations"></app-consultation-dossier>
            </nz-tab>
            <nz-tab nzTitle="Imputations">
                <app-imputation-dossier [imputations]="entity?.inputations"></app-imputation-dossier>
            </nz-tab>
            <nz-tab nzTitle="Repos médicaux">
                <app-repos-medical-dossier *ngIf="entity" [dossier]="entity"></app-repos-medical-dossier>
            </nz-tab>
        </nz-tabset>
    </div>
</div>
<app-access-denied *ngIf="!(dossierSrv.resourceName|showable)"></app-access-denied>