<form [formGroup]="resetPasswordForm" ngNativeValidate (ngSubmit)="resetPassword()">
    <tc-form-group>
        <tc-input [placeholder]="'Nouveau mot de passe'" type="password" formControlName="password"></tc-input>
    </tc-form-group>

    <tc-form-group>
        <tc-input [placeholder]="'Confirmer mot de passe'" type="password" formControlName="confirmPassword"></tc-input>
    </tc-form-group>

    <!-- <tc-form-group>
    <tc-switcher [value]="true">Se rappeler de moi</tc-switcher>
  </tc-form-group> -->

    <div class="actions justify-content-between">
        <button [outline]="true" [disabled]="resetPasswordForm.invalid" tc-button [view]="'accent'" [beforeIcon]="'icofont-ui-password'">
      Soumettre
    </button>
    </div>
</form>