<tc-card *ngIf="entity && userSrv.resourceName|editable" [tcGradient]="lightGradient">
    <form #form="ngForm" novalidate>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions justify-content-between">
                <button [outline]="true" type="button" (click)="location.back()" tc-button
                    beforeIcon="icofont-reply">Retour</button>
                <button (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button type="button"
                    view="accent" class="float-right">Rafraichir</button>
            </div>
        </tc-card>
        <tc-card title="Détails" [outline]="true" [view]="secondViewBorder" [tcGradient]="secondGradient">
            <div class="row">
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Prénom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.prenom" name="prenom" id="prenom"
                            #prenom="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="prenom"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Nom</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.nom" name="nom" id="nom" #nom="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="nom"></app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Email</tc-form-label>
                        <tc-input [disabled]="true" suffixIcon="icofont-envelope" required="required"
                            [value]="entity.email" name="email" id="email">
                        </tc-input>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Téléphone</tc-form-label>
                        <tc-input prefixIcon="icofont-phone" required="required" [(ngModel)]="entity.telephone"
                            name="telephone" id="telephone" #telephone="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="telephone">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Fonction</tc-form-label>
                        <tc-input required="required" [(ngModel)]="entity.fonction" name="fonction" id="fonction"
                            #fonction="ngModel">
                        </tc-input>
                        <tc-form-description>
                            <app-form-field-validation-message [formField]="fonction">
                            </app-form-field-validation-message>
                        </tc-form-description>
                    </tc-form-group>
                </div>
                <div class="col-12 col-md-6">
                    <tc-form-group>
                        <tc-form-label>Etat compte</tc-form-label>
                        <tc-switcher [(ngModel)]="entity.enabled" name="enabled" id="enabled"></tc-switcher>
                    </tc-form-group>
                </div>
            </div>
        </tc-card>
        <tc-card [view]="secondViewBorder" [outline]="true">
            <div class="actions">
                <button [outline]="true" type="button" (click)="location.back()" tc-button view="error"
                    beforeIcon="icofont-close">Annuler</button>
                <button type="button" [disabled]="form.invalid" class="float-right" (click)="update()"
                    beforeIcon="icofont-save" tc-button view="warning">
                    Mettre à jour
                </button>
                <button class="float-right mr-1" (click)="findEntity(entity.id)" afterIcon="icofont-refresh" tc-button
                    type="button" view="success">Rafraichir</button>
            </div>
        </tc-card>
    </form>
</tc-card>
<app-access-denied *ngIf="!(userSrv.resourceName|editable)"></app-access-denied>